@import 'table.scss';

:host {
  display: flex;
  justify-content: space-between;

  .painel {
    height: 100vh;
  }

  .lista {
    width: 100%;
    padding: 0px 50px;
    padding-bottom: 20px;
    max-height: 100%;
    overflow-y: scroll;
  }
}
